.header {
  background-color: #003580;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.headerList {
  display: flex;
  gap: 40px;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 50px;
}
.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.headerDescription {
  margin: 20px 0px;
}
.headerBtn {
  background-color: #0071c2;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}
.headerIcon {
  color: rgb(121, 121, 121);
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerSearchInput {
  border: none;
  outline: none;
}
.headerSearchText {
  color: lightgrey;
  cursor: pointer;
}
