.hotelContainer {
  display: flex;

  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.hotelWrapper {
  width: 100%;
  display: flex;
  max-width: 1024px;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.bookNow {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
.hotelImgWrapper {
  width: 33%;
}
.hotelImg {
  width: 100%;
  object-fit: cover;
}
.hotelTitle {
  font-size: 24px;
}
.hotelAddress {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.hotelDistance {
  color: #0071c2;
  font-weight: 500;
}
.hotelPricingHighlight {
  color: #008009;
  font-weight: 500;
}
.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hotelDetails {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.hotelDetailsTexts {
  flex: 3;
}
.hotelDetailsPrice {
  flex: 1;
  background-color: #ebf3ff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hotelDesc {
  font-size: 14px;
  margin-top: 20px;
}
.hotelDetailsPrice > h1 {
  font-size: 18px;
  color: #555;
}
.hotelDetailsPrice > span {
  font-size: 14px;
}
.hotelDetailsPrice > h2 {
  font-weight: 300;
}
.hotelDetailsPrice > button {
  top: 10px;
  right: 0;
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}
